.text-primary{color: #FF0000;}
.text-secondary{color: #00FF00;}
.text-third{color: #0000FF;}

.bg-primary{background-color: #FF0000;}
.bg-secondary{background-color: #00FF00;}
.bg-third{background-color: #0000FF;}