.color-primary{color: #FF0000;}
.color-secondary{color: #00FF00;}
.color-third{color: #0000FF;}

.color-000{color: #000;}
.color-333{color: #333;}
.color-666{color: #666;}
.color-999{color: #999;}
.color-CCC{color: #CCC;}
.color-FFF{color: #FFF;}

.color-back-primary{background-color: #FF0000;}
.color-back-secondary{background-color: #00FF00;}
.color-back-third{background-color: #0000FF;}
.color-back-texture{}