img{max-width: 100%;}

.img-rounded {}
.img-cirle {}
.img-polaroid {}
.img-responsive {}
.img-thumbnail{}

.cover {
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

.navbar-brand{}

figure{}
.caption{}

.thumbnail{
	> img{}
	> a{
		> img{}
	}
}
a.thumbnail:hover{}
a.thumbnail:focus{}
a.thumbnail.active{}