img{max-width: 100%;}

.img-rounded {}
.img-cirle {}
.img-polaroid {}

.cover {
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}