h1, h2, h3, h4, h5, h6  { 
	a{}
	a:hover{} 
}
h1 {
	a{}
	a:hover{}
}
h2 {
	a{}
	a:hover{}
}
h3 {
	a{}
	a:hover{}
}
h4 {
	a{}
	a:hover{}
}
h5 {
	a{}
	a:hover{}
}
h6 {
	a{}
	a:hover{}
}

p, li {
	a{}
	a:hover{}
}
p {
	a{}
	a:hover{}
}
li {
	a{}
	a:hover{}
}


small {}
strong {}
em {}

.lead {}
.text-left{}
.text-center{}
.text-right{}

blockquote {}
address {}

hr {}