<div class="row">
	<div class="col-sm-4 ">
		<h3>Hero unit</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<div class="hero-unit">
			<h1>Heading</h1>
			<p>Tagline</p>
			<p><a class="btn btn-primary btn-lg">Learn more</a></p>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3></h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<div class="">
			<h4></h4>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>
			<p><a class="btn btn-primary">Learn more</a></p>
		</div>
		<div class=" -sm">
			<h4> small</h4>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>
			<p><a class="btn btn-primary">Learn more</a></p>
		</div>
		<div class=" -lg">
			<h4> large</h4>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>
			<p><a class="btn btn-primary">Learn more</a></p>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Thumbnails</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="thumbnails">
			<li class="col-sm-4">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/250x250" alt="">
				</a>
			</li>
			<li class="col-sm-4">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/250x250" alt="">
				</a>
			</li>
			<li class="col-sm-4">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/250x250" alt="">
				</a>
			</li>
		</ul>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Bloc text</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<h2>diam eget risus varius blandit sit amet</h2>
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.</p>

		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum.</p>

	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>article-list-item</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="list-unstyled blog">
			<li>
				<div>
					<h2>Titre de l'actualité</h2>
					<p><small>Nom de l'auteur - 29/04/2013</small></p>
					<p><a href="/article"><img src="http://placehold.it/800x300"></a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, nunc hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod</p>
					<a href="/article" class="btn btn-small">Lire</a>
				</div>
			</li>
		</ul>

	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>tags-list</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<footer>
			<p><small><em>Keywords : keywords, keywords, keywords, keywords</em></small></p>
		</footer>
	</div>
</div>