<div class="bsg-title">Hero Unit</div>
<div class="hero-unit">
	<h1>Heading</h1>
	<p>Tagline</p>
	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<div class="bsg-title">Bloc</div>
<div class="bloc">
	<h4>Title</h4>
	<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>
	<p><a class="btn btn-primary">Learn more</a></p>
</div>
<div class="bsg-title">Thumbnails</div>
<ul class="thumbnails list-inline">
	<li>
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/250x250" alt="">
		</a>
	</li>
	<li>
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/250x250" alt="">
		</a>
	</li>
	<li>
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/250x250" alt="">
		</a>
	</li>
</ul>
<div class="bsg-title">Post excerpt</div>
{% include "blog/post-excerpt" %}