<div class="row">
	<div class="col-sm-4 ">
		<h3>Breadcrumbs</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Library</a></li>
			<li class="active">Data</li>
		</ol>
	</div>
</div>