<!--navbar-header--> 
<div class="row">
	<div class="col-sm-4 ">
		<h3>nav header</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Title</a>
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr/>
<!--nav-submenu--> 
<div class="row">
	<div class="col-sm-4 ">
		<h3>nav tabs</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">...</a></li>
		</ul>

	</div>
</div>
<hr/>
<!--nav-side--> 
<div class="row">
	<div class="col-sm-4 ">
		<h3>nav side</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">


		<ul class="nav nav-list">
			<li class="nav-header">List header</li>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Library</a></li>
		</ul>
	</div>
</div>
<hr/>
<!--nav-footer--> 
<div class="row">
	<div class="col-sm-4 ">
		<h3>nav footer</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="list-unstyled list-inline">
			<li><a href="/acces">Lorem ipsum</a></li>
			<li><a href="/contact">Lorem ipsum</a></li>
			<li><a href="/credit">Lorem ipsum</a></li>
		</ul>
	</div>
</div>
