<!----> 
<div class="row">
	<div class="col-sm-4 ">
		<h3>Pagination</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<div >
			<ul class="pagination">
				<li><a href="#">Prev</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
	</div>
</div>
<hr/>
<!----> 
<div class="row">
	<div class="col-sm-4 ">
		<h3>Pagination</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<div class="pagination">
			<ul class="pager">
				<li><a href="#">Previous</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
	</div>
</div>  