<div class="bsg-title">Background Primary</div>
<ul class="list-list-unstyled list-inline">
	<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000;"></li>
	<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.8"></li>
	<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.6"></li>
	<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.4"></li>
	<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.2"></li>
</ul>
<div class="bsg-title">Background Secondary</div>
<ul class="list-list-unstyled list-inline">
	<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00;"></li>
	<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.8"></li>
	<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.6"></li>
	<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.4"></li>
	<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.2"></li>
</ul>
<div class="bsg-title">Background Third</div>
<ul class="list-list-unstyled list-inline">
	<li class=" color-back-third" style="width: 100px; height: 100px; background: #0000FF;"></li>
	<li class=" color-back-third" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.8"></li>
	<li class=" color-back-third" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.6"></li>
	<li class=" color-back-third" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.4"></li>
	<li class=" color-back-third" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.2"></li>
</ul>