<!--Primary Background Color-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>Primary Background color</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="list-list-unstyled list-inline">
			<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000;"></li>
			<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.8"></li>
			<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.6"></li>
			<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.4"></li>
			<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.2"></li>
		</ul>
	</div>
</div>
<hr/>
<!--Secondary Background Color-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>Secondary Background color</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="list-list-unstyled list-inline">
			<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00;"></li>
			<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.8"></li>
			<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.6"></li>
			<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.4"></li>
			<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.2"></li>
		</ul>
	</div>
</div>
<hr/>
<!--Thirdary Background Color-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>Thirdary Background color</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="list-list-unstyled list-inline">
			<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF;"></li>
			<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.8"></li>
			<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.6"></li>
			<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.4"></li>
			<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.2"></li>
		</ul>
	</div>
</div>
</hr>
<!--Texture 1-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>Texture</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">

	</div>
</div>