<div class="row">
	<div class="col-sm-4 ">
		<h3>Button</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<p><a href="" class="btn btn-default">btn</a></p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Button-lg</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<p><a href="" class="btn btn-default btn-lg">btn-lg</a></p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Button-sm</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<p><a href="" class="btn btn-default btn-sm">btn-sm</a></p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Button-block</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<p><a href="" class="btn btn-default btn-block">btn-block</a></p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Button-primary</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<p><a href="" class="btn btn-primary">btn-primary</a></p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Button-secondary</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<p><a href="" class="btn btn-secondary">btn-secondary</a></p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-sm-4 ">
		<h3>Button-thirdary</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<p><a href="" class="btn btn-third">btn-thirdary</a></p>
	</div>
</div>