<div class="bsg-title">Buttons</div>
<p><a href="" class="btn btn-default">btn</a></p>
<div class="bsg-title">Buttons Size</div>
<p><a href="" class="btn btn-default btn-lg">btn-lg</a></p>
<p><a href="" class="btn btn-default btn-sm">btn-sm</a></p>
<p><a href="" class="btn btn-default btn-block">btn-block</a></p>
<div class="bsg-title">Buttons Color</div>
<p><a href="" class="btn btn-primary">btn-primary</a></p>
<p><a href="" class="btn btn-secondary">btn-secondary</a></p>
<p><a href="" class="btn btn-third">btn-thirdary</a></p>