<div class="bsg-title">Colors</div>
<p class="color-primary">Maecenas faucibus mollis interdum.</p>
<p class="color-secondary">Maecenas faucibus mollis interdum.</p>
<p class="color-third">Maecenas faucibus mollis interdum.</p>
<div class="bsg-title">Greys</div>
<ul class="list-unstyled">
	<li class="color-000" style="padding: 5px 10px">color-000 : Maecenas faucibus mollis interdum.</li>
	<li class="color-333" style="padding: 5px 10px">color-333 : Maecenas faucibus mollis interdum.</li>
	<li class="color-666" style="padding: 5px 10px">color-666 : Maecenas faucibus mollis interdum.</li>
	<li class="color-999" style="padding: 5px 10px">color-999 : Maecenas faucibus mollis interdum.</li>
	<li class="color-CCC" style="padding: 5px 10px">color-CCC : Maecenas faucibus mollis interdum.</li>
	<li class="color-FFF" style="background: #999; padding: 5px 10px">color-FFF : Maecenas faucibus mollis interdum.</li>
</ul>