<div class="bsg-title">Forms</div>
<label>label</label>
<div class="form-group">
	<input type="text" placeholder="text">
</div>
<div class="form-group">
	<textarea rows="3" placeholder="textarea"></textarea>
</div>
<div class="form-group">
	<input type="text" class="input-medium search-query" placeholder="search">
</div>
<div class="form-group">
	<label class="checkbox"><input type="checkbox" value="">Checkbox</label>
</div>
<div class="form-group">
	<label class="radio">
		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>radio 1
	</label>
	<label class="radio">
		<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">radio2
	</label>
</div>
<div class="form-group">
	<select>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	</select>
</div>
<button type="submit" class="btn btn-default">submit</button>