<!--images rounded-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>image rounded</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<img src="http://placehold.it/150x150" class="img-rounded">
	</div>
</div>
<hr/>
<!--images rounded-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>image circle</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<img src="http://placehold.it/150x150" class="img-circle">
	</div>
</div>
<hr/>
<!--images rounded-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>image polaroid</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<img src="http://placehold.it/150x150" class="img-polaroid">
	</div>
</div>
<hr/>