<div class="bsg-title">List</div>
<ul>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
		</ul>
	</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
</ul>
<div class="bsg-title">List-unstyled</div>
<ul class="list-list-unstyled">
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
		</ul>
	</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
</ul>
<div class="bsg-title">List-inline</div>
<ul class="list-list-unstyled list-inline">
	<li>Lorem ipsum</li>
	<li>dolor sit amet</li>
	<li>consectetur</li>
	<li>adipiscing</li>
</ul>
<div class="bsg-title">List numbers</div>
<ol class="">
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
		</ul>
	</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
</ol>
<div class="bsg-title">List definition</div>
<dl>
	<dt>Definition title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
	<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
	<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
	<dt>Definition title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
</dl>