<!--video-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>video</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">

	</div>
</div>
<hr/>
<!--audio-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>audio</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">

	</div>
</div>
<hr/>
<!--maps-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>maps</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">

	</div>
</div>

