<div class="bsg-title">Visible</div>
<ul class="list-list-unstyled list-inline row text-center">
	<li class="col-sm-3"><span class="visible-xs">XS</span></li>
	<li class="col-sm-3"><span class="visible-sm">SM</span></li>
	<li class="col-sm-3"><span class="visible-md">MD</span></li>
	<li class="col-sm-3"><span class="visible-lg">LG</span></li>
</ul>
<ul  class="list-list-unstyled list-inline row text-center">
	<li class="col-sm-3"><span class="hidden-xs">XS</span></li>
	<li class="col-sm-3"><span class="hidden-sm">SM</span></li>
	<li class="col-sm-3"><span class="hidden-md">MD</span></li>
	<li class="col-sm-3"><span class="hidden-lg">LG</span></li>
</ul>