<!--visible-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>Visible</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul class="list-list-unstyled list-inline row text-center">
			<li class=" col-sm-4"><span class="visible-phone">✔ Phone</span></li>
			<li class=" col-sm-4"><span class="visible-tablet">✔ Tablet</span></li>
			<li class=" col-sm-4"><span class="visible-desktop">✔ Desktop</span></li>
		</ul>
	</div>
</div>
<hr/>
<!--hidden-->
<div class="row">
	<div class="col-sm-4 ">
		<h3>Hidden</h3>
		<p>Text</p>
	</div>
	<div class="col-sm-8">
		<ul  class="list-list-unstyled list-inline row text-center">
			<li class=" col-sm-4"><span class="hidden-phone">✔ Phone</span></li>
			<li class=" col-sm-4"><span class="hidden-tablet">✔ Tablet</span></li>
			<li class=" col-sm-4"><span class="hidden-desktop">✔ Desktop</span></li>
		</ul>
	</div>
</div>
