<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Label</label>
		<input type="text" class="form-control" id="exampleText1" placeholder="Placeholder">
		<label for="exampleInputEmail1">Label</label>
		<input type="text" class="form-control" id="exampleText2" placeholder="Placeholder">
		<label for="exampleInputEmail1">Label</label>
		<input type="text" class="form-control" id="exampleText3" placeholder="Placeholder">
		<button type="submit" class="btn btn-primary btn-block">Submit</button>
	</div>
</form>