<form>
	<div class="form-group form-inline">
		<input type="text" class="form-control" id="exampleemail1" placeholder="email">
		<button type="submit" class="btn btn-primary">Subscribe</button>
	</div>
</form>