<li>
	<div>
		<h2><a href="article">Title</a></h2>
		<p><small>Author - 29/04/2013</small></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, nunc hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod</p>
		<a class="btn btn-small" href="article">read more</a>
		<hr/>
	</div>
</li>