<article>
			  		<header>
			  			<h2>Title</h2>
			  			<p><small>Author - 29/04/2013</small></p>
				  		<p><img src="http://placehold.it/800x300"></p>
				  		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies malesuada neque vel pellentesque. Pellentesque viverra, tortor mollis rutrum placerat, quam felis luctus urna, pretium blandit lectus quam in nulla.</p>
					 </header>
					 <content>
						 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies malesuada neque vel pellentesque.  Pellentesque viverra, tortor mollis rutrum placerat, quam felis luctus urna, pretium blandit lectus quam in nulla. Phasellus nec lorem vel nisi volutpat hendrerit. Duis eu feugiat sapien. Sed tristique tincidunt nisi, in egestas purus tempus at. Fusce at neque et elit adipiscing volutpat at vel velit. Nam malesuada interdum quam blandit tincidunt. Vestibulum ac mauris vitae lorem mollis faucibus eu vitae urna. Quisque lacus nibh, tristique quis hendrerit in, vestibulum in lorem. Vivamus malesuada, est quis </p>
						 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies malesuada neque vel pellentesque.  Pellentesque viverra, tortor mollis rutrum placerat, quam felis luctus urna, pretium blandit lectus quam in nulla. Phasellus nec lorem vel nisi volutpat hendrerit. Duis eu feugiat sapien. Sed tristique tincidunt nisi, in egestas purus tempus at. Fusce at neque et elit adipiscing volutpat at vel velit. Nam malesuada interdum quam blandit tincidunt. Vestibulum ac mauris vitae lorem mollis faucibus eu vitae urna. Quisque lacus nibh, tristique quis hendrerit in, vestibulum in lorem. Vivamus malesuada, est quis </p>
						 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies malesuada neque vel pellentesque.  Pellentesque viverra, tortor mollis rutrum placerat, quam felis luctus urna, pretium blandit lectus quam in nulla. Phasellus nec lorem vel nisi volutpat hendrerit. Duis eu feugiat sapien. Sed tristique tincidunt nisi, in egestas purus tempus at. Fusce at neque et elit adipiscing volutpat at vel velit. Nam malesuada interdum quam blandit tincidunt. Vestibulum ac mauris vitae lorem mollis faucibus eu vitae urna. Quisque lacus nibh, tristique quis hendrerit in, vestibulum in lorem. Vivamus malesuada, est quis </p>
			  	    </content>
			    	<footer>
				  		<p><small><em>Keywords : keywords, keywords, keywords, keywords</em></small></p>
			  	    </footer>
		  	   </article>