<section class="cover" style="background: url('/assets/img/background.jpg') 50% 50% no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	<div class="container">
	</div>
</section>