<section class="cover" style="background: url('http://placehold.it/1200x600/999999') 50% 50% no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	<div class="container">
	</div>
</section>