<section class="feature-list">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img src="http://placehold.it/600x600" alt="">
				<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
			</div>
			<div class="col-md-2">
				<img src="http://placehold.it/600x600" alt="">
				<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
			</div>
			<div class="col-md-2">
				<img src="http://placehold.it/600x600" alt="">
				<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
			</div>
			<div class="col-md-2">
				<img src="http://placehold.it/600x600" alt="">
				<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
			</div>
			<div class="col-md-2">
				<img src="http://placehold.it/600x600" alt="">
				<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
			</div>
			<div class="col-md-2">
				<img src="http://placehold.it/600x600" alt="">
				<h3>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
			</div>
		</div>
	</div>
</section>