<section class="price-table text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="price-table-title">
					<h3>Title</h3>
					<p>XX € / per month</p>
				</div>
				<div class="price-table-info">
					<ul class="list-unstyled">
						<li>info</li>
						<li>info</li>
					</ul>
				</div>
				<div class="price-table-price">
					<a href="" class="btn btn-primary">Get this offer</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="price-table-title">
					<h3>Title</h3>
					<p>XX € / per month</p>
				</div>
				<div class="price-table-info">
					<ul class="list-unstyled">
						<li>info</li>
						<li>info</li>
					</ul>
				</div>
				<div class="price-table-price">
					<a href="" class="btn btn-primary">Get this offer</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="price-table-title">
					<h3>Title</h3>
					<p>XX € / per month</p>
				</div>
				<div class="price-table-info">
					<ul class="list-unstyled">
						<li>info</li>
						<li>info</li>
					</ul>
				</div>
				<div class="price-table-price">
					<a href="" class="btn btn-primary">Get this offer</a>
				</div>
			</div>
		</div>
	</div>
</section>