<section class="text-image">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p>Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<div class="row">
					<div class="col-sm-6">
						<p>Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
					</div>
					<div class="col-sm-6">
						<p>Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<img src="http://placehold.it/600x300" alt="">
			</div>
		</div>
	</div>
</section>