<div class="slide-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">© Copyright</div>
			<div class="col-sm-6 text-center"><button onclick="goFullscreen('keynote'); return false">Fullscreen</button></div>
			<div class="col-sm-1 col-sm-offset-2">
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">></a>
			</div>
		</div>
	</div>
</div>