<div class="item animated fadeInRightBig anim-offset-md slide-text-left-image">

	<div class="">
		<div class="row">
			<div class="col-sm-6">
				<p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				<ul>
					<li>Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
					<li>Aenean eu leo quam.</li>
					<li>Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
					<li>Aenean eu leo quam.</li>
					<li>Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
					<li>Aenean eu leo quam.</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
			<div class="col-sm-6">
				<img src="http://placehold.it/700x400" alt="" />
			</div>
		</div>
	</div>
</div>