<div class="item animated fadeInRightBig anim-offset-md slide-video">
	<div class="video-container">
		<iframe width="640" height="360" src="//www.youtube.com/embed/7W6A2kvbigU?list=FLD1-hwFmYAz5PcpgxHV7dDA" frameborder="0" allowfullscreen></iframe>
	</div>
</div>