
// transition delay

.tran-dly-100{
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
}
.tran-dly-200{
	-webkit-transition-delay: 200ms;
	-o-transition-delay: 200ms;
	transition-delay: 200ms;
}
.tran-dly-300{
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}
.tran-dly-500{
	-webkit-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}
.tran-dly-700{
	-webkit-transition-delay: 750ms;
	-o-transition-delay: 750ms;
	transition-delay: 750ms;
}
.tran-dly-1s{
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
}
.tran-dly-1500{
	-webkit-transition-delay: 1500ms;
	-o-transition-delay: 1500ms;
	transition-delay: 1500ms;
}
.tran-dly-2s{
	-webkit-transition-delay: 2s;
	-o-transition-delay: 2s;
	transition-delay: 2s;
}
.tran-dly-3s{
	-webkit-transition-delay: 3s;
	-o-transition-delay: 3s;
	transition-delay: 3s;
}
.tran-dly-4s{
	-webkit-transition-delay: 4s;
	-o-transition-delay: 4s;
	transition-delay: 4s;
}
.tran-dly-5s{
	-webkit-transition-delay: 5s;
	-o-transition-delay: 5s;
	transition-delay: 5s;
}



// transition duration


.tran-dur-250{
	-webkit-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	transition-duration: 250ms;
}
.tran-dur-500{
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}
.tran-dur-750{
	-webkit-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	transition-duration: 750ms;
}
.tran-dur-1s{
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
.tran-dur-1500{
	-webkit-transition-duration: 1500ms;
	-o-transition-duration: 1500ms;
	transition-duration: 1500ms;
}
.tran-dur-2s{
	-webkit-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}
.tran-dur-3s{
	-webkit-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
}
.tran-dur-4s{
	-webkit-transition-duration: 4s;
	-o-transition-duration: 4s;
	transition-duration: 4s;
}
.tran-dur-5s{
	-webkit-transition-duration: 5s;
	-o-transition-duration: 5s;
	transition-duration: 5s;
}




// animation delay


.anim-dly-100{
	-webkit-animation-delay: 100ms;
	-o-animation-delay: 100ms;
	animation-delay: 100ms;
}
.anim-dly-200{
	-webkit-animation-delay: 200ms;
	-o-animation-delay: 200ms;
	animation-delay: 200ms;
}
.anim-dly-300{
	-webkit-animation-delay: 300ms;
	-o-animation-delay: 300ms;
	animation-delay: 300ms;
}
.anim-dly-500{
	-webkit-animation-delay: 500ms;
	-o-animation-delay: 500ms;
	animation-delay: 500ms;
}
.anim-dly-750{
	-webkit-animation-delay: 750ms;
	-o-animation-delay: 750ms;
	animation-delay: 750ms;
}
.anim-dly-1s{
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.anim-dly-1500{
	-webkit-animation-delay: 1500ms;
	-o-animation-delay: 1500ms;
	animation-delay: 1500ms;
}
.anim-dly-2s{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.anim-dly-3s{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
.anim-dly-4s{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
.anim-dly-5s{
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}



// animation duration



.anim-dur-250{
	-webkit-animation-duration: 250ms;
	-o-animation-duration: 250ms;
	animation-duration: 250ms;
}
.anim-dur-500{
	-webkit-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;
}
.anim-dur-750{
	-webkit-animation-duration: 750ms;
	-o-animation-duration: 750ms;
	animation-duration: 750ms;
}
.anim-dur-1s{
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
.anim-dur-1500{
	-webkit-animation-duration: 1500ms;
	-o-animation-duration: 1500ms;
	animation-duration: 1500ms;
}
.anim-dur-2s{
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}
.anim-dur-3s{
	-webkit-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
}
.anim-dur-4s{
	-webkit-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
}
.anim-dur-5s{
	-webkit-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
}



// Ease type 


.ease-in{

}
.ease-out{

}
.ease-in-out{

}




// Animation css structure is composed of : 
// delay
// duration
// main-style (fade / bounce / move / rotate  / 3d)
// sub-style (direction, emphasis, )
// specific css visual enhencement
// Every animation should be based with a single defalut delay, 
// duration, ease depending on the type of animation (anim or transition)


// Because there are so many, I expect we could group things by role:
// button/touch effects
// state transition
// modal/notification transition
// attention attractors


