.bsg-header {
	background: #000; 
	color: #fff; 
	padding : 10px 20px 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index:10;
	.navbar-toggle {
	padding: 0;
	border-radius: 0;
	}
	.navbar-toggle .icon-bar {
	background: #FFF; 
	}
}
.bsg-header .navbar-nav {width: 100%;}
.bsg-header .navbar-nav>li>a {padding: 5px 10px;}
.bsg-header .navbar-nav>li>a:hover {background: none;}
.bsg-header .navbar-nav>li:last-child{float: right;}
.bsg-nav {
	height: 100%;
	position: relative;
	top: 45px;
	bottom: 0;
	background: #333;
	@media (min-width: 768px) {position: fixed;}
	.bsg-list {
		height: 100%;
		.bsg-element {
			background: #eee; 
			padding: 20px;
			width: 50%;
			height: 100%;
			float: left;
			text-align: center;
			&:hover{background: #ddd;}
			@media (min-width: 768px) {width: 20%;}
			&.inactive {
				background: #333;
				&:hover {background: #333;}
			}
		}
	}
}
.icon-bsg {
	width: 50%;
	height: 150px;
	margin: 0 auto; 
	opacity: 0.2;
}
.bsg-footer {
	background: #000;
	color: #fff; 
	padding : 10px 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:10;
}



.bsg-left {
	background: #eee;
	padding: 60px 10px 20px;
	z-index:5;
	@media (min-width: 768px) {}
}
.bsg-left .nav-tabs {border: none;}
.bsg-left .nav-tabs>li {border: none;}
.bsg-left .nav-tabs>li>a {border: none;}
.bsg-left .nav-tabs>li.active>a {border: none; border-radius: 0;}
.bsg-left.nav-tabs>li>a:hover {border: none;}
.bsg-right {
	padding: 50px 10px 0; 
	background: #fff;
	@media (min-width: 768px) {}
}
.bsg-title {
	width: 100%;
	border-bottom: 1px dashed #ccc;
	padding: 5px 0;
	margin: 30px 0;
}

 .row-offcanvas {
    background: #eee;
  }

  .row-offcanvas-right {
    background: #fff;
  }

  .row-offcanvas-left {
    background: #eee;
  }


@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
    z-index:0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}