.startkit{
	padding: 40px 0 0;
	header{
		.navbar {background: #ddd; border: none; padding: 20px 0;}
		.navbar-header{ margin: 0 15px;}
		.navbar-center {
			.navbar-header{ float: none; margin: 0 auto; width: 200px; text-align: center; clear: both;}
			.navbar-brand{ float: none; margin: 10px auto; width: 200px; text-align: center;}
			.navbar-nav{text-align: center; width: 100%;}
			.navbar-nav>li{float: none; display: inline-block;}
		}
		.navbar-call2action{
			.navbar-nav>li>.btn{
				color: #fff;
				&:hover{
					color: #fff;
					background: #333;
				}
			}
		}
		.navbar-collapse-all{
			.navbar-header {float: none; width: auto;}
			.navbar-toggle {display: block;}
			.navbar-collapse.collapse {display: none!important;}
			.navbar-nav {float: none!important;}
			.navbar-nav>li {float: none;display: inline-block;}
		}
		.navbar-collapse-all-left{
			.navbar-brand{ float: left; margin: 0; width: auto; text-align: left; padding: 8px;}
			.navbar-toggle{ float: left; margin: 0; width: auto; text-align: left;}
		}
		.navbar-collapse-all-right{
			.navbar-brand{ float: left; margin: 0; width: auto; text-align: left; padding: 8px;} 
			.navbar-toggle{ float: right; margin: 0; width: auto; text-align: left;}
			.navbar-nav{text-align: right;}
		}
		.navbar-center.navbar-collapse-all{
			.navbar-brand{ float: none; margin: 10px auto; width: 200px; text-align: center;}
		} 
		input {margin-bottom: 0;}
	}

	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}
	.row-offcanvas-right {
		background: none;
		right: 0;
	}

	.row-offcanvas-left {
		background: none;
		left: 0;
		z-index:0;
	}
	.nav-tabs{border: none;}
	.nav-tabs>li>a{ border-radius: 0;}
	.nav-tabs>li.active>a{border: none;}
	.nav-tabs>li.active>a:focus{border: none;}
	.nav-tabs>li.active>a:hover{border: none;}

	@media (max-width: 767px) {
		.row-offcanvas-right .sidebar-offcanvas {right: -50%;}
		.row-offcanvas-left .sidebar-offcanvas {left: -50%;}
		.row-offcanvas-right.active {right: 50%;}
		.row-offcanvas-left.active {left: 50%;}
		.sidebar-offcanvas {position: absolute; top: 0; width: 50%;}
	}
	@media (min-width: 768px) {
		.row-offcanvas-right .sidebar-offcanvas {right: -25%;}
		.row-offcanvas-left .sidebar-offcanvas {left: -25%;}
		.row-offcanvas-right.active {right: 25%;}
		.row-offcanvas-left.active {left: 25%;}
		.sidebar-offcanvas {position: absolute !important; top: 0 !important; width: 25% !important; float: none !important;}
	}

	section{margin: 50px 0; position: relative;}
	article{margin: 50px 0; position: relative;}
	footer{margin-top: 20px; position: relative; background: #ccc; padding: 20px 0;}
	.page-header{padding: 75px 0; margin: 0;}
	.call2action{padding: 25px 0;}
	.page-header .next-section{font-size: 3em; margin-top: 150px; position: relative; display: block;}
	.prefooter{background: #eee; padding: 20px 0;}
	.cover{min-height: 200px;}
	.cover-full{min-height: 400px;}
	.solid-full{min-height: 400px;}
	
	.background-primary{background: #FFCCCC;}
	
	img{max-width: 100%;}
	label{margin-bottom: 10px;}
	input{margin-bottom: 10px;}
	.prefooter input{margin-bottom: 0px;}
	button{}

	.call2action-left{position: relative; display: block; clear: both; float: none; padding: 0;}
	.call2action-left > div{height: 200px; padding: 25px;}
	.call2action-right{position: relative; display: block; clear: both; float: none; padding: 0;}
	.call2action-right > div{height: 200px; padding: 25px;}
	.call2action .cover{}
	.cover-left{width: 33%; position: absolute; left: 0;}
	.solid-left{width: 33%; position: absolute; left: 0;}
	.cover-right{width: 33%; position: absolute; right: 0;}
	.solid-right{width: 33%; position: absolute; right: 0;}

	.price-table-title {border-top: 2px solid #eee; border-left: 2px solid #eee; border-right: 2px solid #eee; border-radius: 5px 5px 0 0; padding: 20px 0; background: #f6f6f6;}
	.price-table-info {border: 2px solid #eee; border-radius: 0; padding: 20px 0; background: #f2f2f2;}
	.price-table-price {border-bottom: 2px solid #eee; border-left: 2px solid #eee; border-right: 2px solid #eee; border-radius: 0 0 5px 5px ; padding: 20px 0; background: #f6f6f6;}

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.video-container iframe,  
	.video-container object,  
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.map-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.map-container iframe,   
	.map-container object,  
	.map-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}



