<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p>Integer posuere erat a ante Integer posuere erat a ante venenatis dapibus posuere velit aliquet. venenatis dapibus posuere velit aliquet.</p>
			</div>
			<div class="col-sm-12">
				<p>Adresse : Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			</div>
		</div>
	</div>
</footer>