<div class="well">
	  	 		<h3>Latest news</h3>
	  	 		<ul class="list-unstyled">
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 		</ul>
	  	 	</div>
	  	 	<div class="well">
	  	 		<p>Sidebar</p>
	  	 	</div>