{% block content %}
<div class="wrapper" itemscope itemtype="http://schema.org/WebPage">
	{% include "persona/navigation" %}
	<div class="content-persona">
		<section class="page-header page-header-persona">
			<div class="container">
				<h1>Nom</h1>
			</div>
		</section>
		<section class="persona" style="margin-top: 0px">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="persona"><span>Back</span></a> </li>
				</ul>
				<br/>
				<div class="row">
					<div class="col-sm-3">
						<img src="http://placehold.it/400x400" alt="" class="img-responsive"/>
						<div style="padding: 20px; background: #F5F5F5">
							<q>Quote</q>
						</div>
						<br/>
						<ul class="list-unstyled">
							<li><strong>Age : </strong></li>
							<li><strong>Work : </strong></li>
							<li><strong>Family : </strong></li>
							<li><strong>Location : </strong></li>
							<li><strong>Character : </strong></li>
						</ul>
						<h2>Personality</h2>
						<ul class="list-unstyled">
							<li>
								<strong>Introvert > extrovert : </strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Analytical > creative : </strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Conservative > liberal : </strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Passive > Active : </strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="list-inline">
							<li><span class="label label-default">Tag</span></li>
							<li><span class="label label-default">Tag</span></li>
							<li><span class="label label-default">Tag</span></li>
							<li><span class="label label-default">Tag</span></li>
							<li><span class="label label-default">Tag</span></li>
							<li><span class="label label-default">Tag</span></li>
						</ul>
						<h2>Goals</h2>
						<ul class="">
							<li>Goal</li>
						</ul>
						<h2>Frustrations</h2>
						<ul class="">
							<li>Frustration</li>
						</ul>
						<div style="padding: 20px; background: #F5F5F5">
							<h2>Bio</h2>
							<p>Text</p>
						</div>
					</div>
					<div class="col-sm-3">
						<h2>Motivations</h2>
						<ul class="list-unstyled">
							<li>
								<strong>Inncentive</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Fear</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Achievement</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Growth</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Power</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Social</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
						</ul>
						<h2>Brands</h2>
						<ul class="list-inline">
							<li><strong>Brand</strong></li>
							<li><strong>Brand</strong></li>
							<li><strong>Brand</strong></li>
							<li><strong>Brand</strong></li>
							<li><strong>Brand</strong></li>
						</ul>
						<h2>Prefered channels</h2>
						<ul class="list-unstyled">
							<li>
								<strong>Traditional ads</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Online social média</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Referal</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<strong>Guerilla Efforts and PR</strong>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="push"></div>
</div>
{% include "layout/footer" %}
{% endblock %}