// animation timing function 

.anim-linear{
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.anim-ease{
	-webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
.anim-ease-in{
	-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
.anim-ease-out{
	-webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.anim-ease-in-out{
	-webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}