{% block content %}

{% include "startkit/navigation" %}
<div class="startkit">
		<div class="tab-content">
			<div class="tab-pane active" id="header">
				{% include "startkit/header" %}
			</div>
			<div class="tab-pane" id="page-header">
				{% include "startkit/page-header" %}
			</div>
			<div class="tab-pane" id="call2action">
				{% include "startkit/call2action" %}
			</div>
			<div class="tab-pane" id="sections">
				{% include "startkit/sections" %}
			</div>
			<div class="tab-pane" id="blog">
				{% include "startkit/blog" %}
			</div>
			<div class="tab-pane" id="patterns">
				{% include "startkit/patterns" %}
			</div>
			<div class="tab-pane" id="prefooter">
				{% include "startkit/prefooter" %}
			</div>
			<div class="tab-pane" id="footer">
				{% include "startkit/footer" %}
			</div>
			<div class="tab-pane" id="exemple">
				{% include "startkit/exemple" %}
			</div>
		</div>
</div>

{% endblock %}