<h1>Blog</h1>

{% include "startkit/blog/roll-full" %}
{% include "startkit/blog/roll-left-third" %}

{% include "startkit/blog/post" %}
{% include "startkit/blog/post-left-third" %}

{% include "startkit/blog/comments" %}

{% include "startkit/blog/related-posts" %}
{% include "startkit/blog/related-posts-aside" %}
{% include "startkit/blog/related-posts-aside-bloc" %}