<h1>Call2action</h1>

{% include "startkit/call2action/call2action-single-center-cover" %}
{% include "startkit/call2action/call2action-single-left-cover" %}
{% include "startkit/call2action/call2action-single-right-cover" %}
{% include "startkit/call2action/call2action-dual-center-cover" %}

{% include "startkit/call2action/call2action-single-center-solid" %}
{% include "startkit/call2action/call2action-single-left-solid" %}
{% include "startkit/call2action/call2action-single-right-solid" %}
{% include "startkit/call2action/call2action-dual-center-solid" %}
