<h1>Footer</h1>

{% include "startkit/footer/text-adress" %}
{% include "startkit/footer/text-adress-center" %}
{% include "startkit/footer/text-nav" %}
{% include "startkit/footer/text-nav-center" %}