<h1>Header</h1>

{% include "startkit/header/classic" %}
{% include "startkit/header/classic-center" %}
{% include "startkit/header/classic-call" %}
{% include "startkit/header/classic-call-center" %}
{% include "startkit/header/minimal-left" %}
{% include "startkit/header/minimal-right" %}
{% include "startkit/header/newsletter" %}
{% include "startkit/header/offcanvas-left" %}
{% include "startkit/header/offcanvas-center" %}
{% include "startkit/header/offcanvas-right" %}