<div class="bsg-header navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#header" data-toggle="tab">Header</a></li>
			<li><a href="#page-header" data-toggle="tab">Page-header</a></li>
			<li><a href="#call2action" data-toggle="tab">call2action</a></li>
			<li><a href="#sections" data-toggle="tab">Sections</a></li>
			<li><a href="#blog" data-toggle="tab">Blog</a></li>
			<li><a href="#patterns" data-toggle="tab">Patterns</a></li>
			<li><a href="#prefooter" data-toggle="tab">PreFooter</a></li>
			<li><a href="#footer" data-toggle="tab">Footer</a></li>
			<li class="text-right"><a href="../index">Back</a></li>
		</ul>
	</nav>
</div>