<h1>Page Header</h1>

{% include "startkit/page-header/cover" %}
{% include "startkit/page-header/cover-full" %}
{% include "startkit/page-header/cover-login" %}
{% include "startkit/page-header/cover-onepage" %}
{% include "startkit/page-header/cover-slider" %}
{% include "startkit/page-header/cover-video" %}

{% include "startkit/page-header/solid" %}
{% include "startkit/page-header/solid-full" %}
{% include "startkit/page-header/solid-login" %}
{% include "startkit/page-header/solid-onepage" %}
{% include "startkit/page-header/solid-video" %}
{% include "startkit/page-header/solid-slider" %}