<h1>Patterns</h1>


{% include "startkit/patterns/collapse-title-open" %}
{% include "startkit/patterns/collapse-title-close" %}
{% include "startkit/patterns/collapse-title-inside" %}

{% include "startkit/patterns/slider" %}
{% include "startkit/patterns/tabs-list" %}
{% include "startkit/patterns/tabs-list-side" %}

{% include "startkit/patterns/modal" %}
{% include "startkit/patterns/modal-collapse-inside" %}
{% include "startkit/patterns/modal-slider" %}
{% include "startkit/patterns/modal-tabs-list" %}