<h1>PreFooter</h1>

{% include "startkit/prefooter/nav-list-three" %}
{% include "startkit/prefooter/nav-list-four" %}
{% include "startkit/prefooter/nav-list-six" %}

{% include "startkit/prefooter/newsletter" %}
{% include "startkit/prefooter/newsletter-center" %}

{% include "startkit/prefooter/slogan" %}
{% include "startkit/prefooter/slogan-center" %}

{% include "startkit/prefooter/twitter" %}
{% include "startkit/prefooter/twitter-center" %}
{% include "startkit/prefooter/twitter-multiple" %}
{% include "startkit/prefooter/twitter-multiple-right" %}