<h1>Section</h1>


{% include "startkit/section/lead" %}
{% include "startkit/section/lead-center" %}

{% include "startkit/section/text" %}
{% include "startkit/section/text-center" %}
{% include "startkit/section/text-dual" %}

{% include "startkit/section/feature-list-two" %}
{% include "startkit/section/feature-list-three" %}
{% include "startkit/section/feature-list-four" %}
{% include "startkit/section/feature-list-six" %}

{% include "startkit/section/cover" %}
{% include "startkit/section/image-center" %}

{% include "startkit/section/feature-list-two-image" %}
{% include "startkit/section/feature-list-three-image" %}
{% include "startkit/section/feature-list-four-image" %}
{% include "startkit/section/feature-list-six-image" %}

{% include "startkit/section/feature-list-left-image" %}
{% include "startkit/section/feature-list-left-slider" %}
{% include "startkit/section/feature-list-right-image" %}
{% include "startkit/section/feature-list-right-slider" %}

{% include "startkit/section/price-table" %}
{% include "startkit/section/price-table-call2action" %}

{% include "startkit/section/lead-image-text" %}
{% include "startkit/section/lead-slider-text" %}
{% include "startkit/section/lead-video-text" %}

{% include "startkit/section/text-left-image-half" %}
{% include "startkit/section/text-right-image-half" %}
{% include "startkit/section/text-left-image-third" %}
{% include "startkit/section/text-right-image-third" %}
{% include "startkit/section/text-dual-left-image" %}
{% include "startkit/section/text-dual-right-image" %}

{% include "startkit/section/text-left-slider-half" %}
{% include "startkit/section/text-right-slider-half" %}
{% include "startkit/section/text-left-slider-third" %}
{% include "startkit/section/text-right-slider-third" %}

{% include "startkit/section/text-left-video-half" %}
{% include "startkit/section/text-right-video-half" %}
{% include "startkit/section/text-left-video-third" %}
{% include "startkit/section/text-right-video-third" %}
{% include "startkit/section/video-center" %}

{% include "startkit/section/text-left-form-half" %}
{% include "startkit/section/text-right-form-half" %}
{% include "startkit/section/text-left-form-third" %}
{% include "startkit/section/text-right-form-third" %}

{% include "startkit/section/text-left-map-half" %}
{% include "startkit/section/text-right-map-half" %}
{% include "startkit/section/text-left-map-third" %}
{% include "startkit/section/text-right-map-third" %}
{% include "startkit/section/map-full" %}

