.slideRight {
  -webkit-animation-name: slideRight;
  -moz-animation-name: slideRight;
  -ms-animation-name: slideRight;
  -o-animation-name: slideRight;
  animation-name: slideRight;
}
@-moz-keyframes slideRight {
  0% {
    -moz-transform-origin: 0 0;
    -moz-transform: translateX(0%);
  }

  100% {
    -moz-transform-origin: 0 0;
    -moz-transform: translateX(100%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(100%);
  }
}
@-o-keyframes slideRight {
  0% {
    -o-transform-origin: 0 0;
    -o-transform: translateX(0%);
  }

  100% {
    -o-transform-origin: 0 0;
    -o-transform: translateX(100%);
  }
}
@-ms-keyframes slideRight {
  0% {
    -ms-transform-origin: 0 0;
    -ms-transform: translateX(0%);
  }

  100% {
    -ms-transform-origin: 0 0;
    -ms-transform: translateX(100%);
  }
}
@keyframes slideRight {
  0% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(100%);
  }
}