<header class="navbar navbar-static-top bs-docs-nav" role="banner">	
	<div class="container">
	<div class="row">
	<div class="col-sm-12">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Website title</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			 <ul class="nav navbar-nav list-list-inline">
             	<li {% if mixture.url == "title" %}class="active"{% endif %}><a href="/">index</a></li>
               
			</ul>
		</nav>
	</div>
	</div>
	</div>
</header>
