<header>
  	 	<div class="navbar">
  	 		<div class="navbar-inner">
				 <a href="/" class="brand">Essere Associés</a> <!--logo--> 
		  		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			 		<span class="icon-bar"></span>
			 		<span class="icon-bar"></span>
			 		<span class="icon-bar"></span>
			 	</button>
			 	<div class="nav-collapse collapse">
			 		<ul class="nav inline">
			 			<li {% if mixture.url == "dossiers" %}class="active"{% endif %}><a href="/dossiers">Nous vous aidons</a></li>
			 			<li {% if mixture.url == "blog" %}class="active"{% endif %}><a href="/blog">Actualité</a></li>
			 			<li {% if mixture.url == "valeur" %}class="active"{% endif %}><a href="/valeur">Notre valeur ajoutée</a></li>
			 			<li {% if mixture.url == "contact" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
					</ul>
			</div>
	  	 </div>
	  </div>
</header>