<section class="comment">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-md-1 comment-img">
				<img src="http://placehold.it/80x80" alt="">
			</div>
			<div class="col-xs-10 col-md-11">
				<p>DD/MM/AAAA - HH:MM:SS</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum.</p>
				<div class="response">
					<div class="row">
						<div class="col-xs-2 col-md-1 response-img">
							<img src="http://placehold.it/140x140" alt="">
						</div>
						<div class="col-xs-10 col-md-11">
							<p>DD/MM/AAAA - HH:MM:SS</p>
							<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum.</p>
						</div>
					</div>
				</div>	
				<div class="row">
					<div class="col-xs-2 col-md-1 comment-img">
						<img src="http://placehold.it/80x80" alt="">
					</div>
					<div class="col-xs-10 col-md-11">
						<div class="action-bar-response">
							<form role="form" id="form_add_response">
								<div class="form-group">
									<label>Respond to this comment</label>
									<input type="text" class="form-control" id="input_response_response" placeholder="Response">
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="action-bar-comment">
			<div class="row">
				<div class="col-xs-2 col-md-1 comment-img">
					<img src="http://placehold.it/80x80" alt="[User id]">
				</div>
				<div class="col-xs-10 col-md-11">
					<form role="form" id="form_add_comment">
						<div class="form-group">
							<label>Add a comment</label>
							<input type="text" class="form-control" id="input_add_comment" placeholder="Comment">
						</div>
					</form>	
				</div>
			</div>
		</div>	
	</div>
</section>