<section>
	<div class="container">
		{% include "startkit/blog/post-cover-header" %}
		{% include "startkit/blog/post-cover-left" %}
		{% include "startkit/blog/post-cover-right" %}
	</div>
</section>