<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				{% include "startkit/blog/post-cover-header" %}
				{% include "startkit/blog/post-cover-left" %}
				{% include "startkit/blog/post-cover-right" %}
			</div>
			<div class="col-sm-3">
				{% include "startkit/blog/related-posts-aside" %}
				{% include "startkit/blog/related-posts-aside-bloc" %}
			</div>
		</div>
	</div>
</section>