<div class="bsg-header">
<div class="row">
	<div class="col-sm-10">
		<ul class="list-inline">
			<li><a href="guideline">Guideline</a></li>
			<li><a href="elements">Elements</a></li>
			<li><a href="blocs">Blocs</a></li>
			<li><a href="patterns">Patterns</a></li>
			<li><a href="sections">Sections</a></li>
			<li><a href="icons">Icons</a></li>
			<li><a href="animations">Animations</a></li>
		</ul>
	</div>
	<div class="col-sm-2 text-right">
		<a href="../index">Back</a>
	</div>
</div>
</div>