<div class="row">
	<div class="col-sm-12">
		<div class="navbar">
			<ul class="nav navbar-nav list-inline">
				<li {% if mixture.url == "elements" %}class="active"{% endif %}><a href="elements">Elements</a></li>
				<li {% if mixture.url == "blocs" %}class="active"{% endif %}><a href="blocs">Blocs</a></li>
				<li {% if mixture.url == "patterns" %}class="active"{% endif %}><a href="patterns">Patterns</a></li>
				<li {% if mixture.url == "sections" %}class="active"{% endif %}><a href="sections">Sections</a></li>
			</ul>
		</div>
	</div>
</div>