.openUpLeftOut {
  -webkit-animation-name: openUpLeftOut;
  -moz-animation-name: openUpLeftOut;
  -ms-animation-name: openUpLeftOut;
  -o-animation-name: openUpLeftOut;
  animation-name: openUpLeftOut;
}
@-moz-keyframes openUpLeftOut {
  0% {
    opacity: 1;
    -moz-transform-origin: top left;
    -moz-transform: rotate(0deg);
    -moz-animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    -moz-transform-origin: top left;
    -moz-transform: rotate(110deg);
    -moz-animation-timing-function: ease-in-out;
  }
}
@-webkit-keyframes openUpLeftOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: top left;
    -webkit-transform: rotate(110deg);
    -webkit-animation-timing-function: ease-in-out;
  }
}
@-o-keyframes openUpLeftOut {
  0% {
    opacity: 1;
    -o-transform-origin: top left;
    -o-transform: rotate(0deg);
    -o-animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    -o-transform-origin: top left;
    -o-transform: rotate(110deg);
    -o-animation-timing-function: ease-in-out;
  }
}
@-ms-keyframes openUpLeftOut {
  0% {
    opacity: 1;
    -ms-transform-origin: top left;
    -ms-transform: rotate(0deg);
    -ms-animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    -ms-transform-origin: top left;
    -ms-transform: rotate(110deg);
    -ms-animation-timing-function: ease-in-out;
  }
}
@keyframes openUpLeftOut {
  0% {
    opacity: 1;
    transform-origin: top left;
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    transform-origin: top left;
    transform: rotate(110deg);
    animation-timing-function: ease-in-out;
  }
}