<section class="call2action call2action-left">
	<div class="solid-left background-primary">
		<h3>Title</h3>
		<a href="" class="btn btn-primary">Call2action</a>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<h3>Cum sociis natoque penatibus et magnis dis.</h3>
				<p>Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Donec sed odio dui. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum.</p>
			</div>
		</div>
	</div>
</section>