<section class="call2action call2action-left">
	<div class="solid-left background-primary">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<a href="" class="btn btn-primary">Call2action</a>
			</div>
		</div>
	</div>
</section>