<section class="call2action">
	<div class="col-md-4 cover background-primary">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<a href="" class="btn btn-default">magnis dis parturient</a>
				<br/>
				<a href="" class="btn btn-primary">magnis dis parturient</a>
			</div>
		</div>
	</div>
</section>