<section class="call2action cover text-center" style="background: url('/assets/img/background.jpg') 50% 50% no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>Title</h3>
				<a href="" class="btn btn-primary">Call2action</a>
			</div>
			<div class="col-sm-6">
				<h3>Title</h3>
				<a href="" class="btn btn-primary">Call2action</a>
			</div>
		</div>
	</div>
</section>