<section class="call2action call2action-left">
	<div class="cover cover-left" style="background: url('http://placehold.it/1200x600/999999') 50% 50% no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<a href="" class="btn btn-primary">Call2action</a>
			</div>
		</div>
	</div>
</section>