<section class="call2action call2action-right">
	<div class="solid-right background-primary">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<a href="" class="btn btn-primary">Call2action</a>
			</div>
		</div>
	</div>
</section>