<section class="call2action">
	<div class="col-md-4 cover" style="background: url('http://http://placehold.it/1200x600') 50% 50% no-repeat; ">
	</div>
	<div class="container">
		<div class="row">
			
			<div class="col-md-8 col-md-offset-4">
				<a href="" class="btn btn-default">magnis dis parturient</a>
				<br/>
				<a href="" class="btn btn-primary">magnis dis parturient</a>
			</div>
		</div>
	</div>
</section>