<section class="call2action background-primary text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="" class="btn btn-primary">magnis dis parturient</a>
			</div>
			<div class="col-md-6">
				<a href="" class="btn btn-primary">magnis dis parturient</a>
			</div>
		</div>
	</div>
</section>