{% block content %}
	  	<div class="row">
	  		<div class="col-sm-8">
		  	<ul class="list-unstyled blog">
			  	<li>
				  	<div>
					  	<h2><a href="/article">Title</a></h2>
					  	<p><small>Author - 29/04/2013</small></p>
					  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, nunc hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod</p>
					  	<a class="btn btn-small" href="/article">read more</a>
					  	<hr/>
			    	</div>
			  	</li>
			  	<li>
				  	<div>
					  	<h2><a href="/article">Title</a></h2>
					  	<p><small>Author - 29/04/2013</small></p>
					  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, nunc hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod</p>
					  	<a class="btn btn-small" href="/article">read more</a>
					  	<hr/>
			    	</div>
			  	</li>
			  	<li>
				  	<div>
					  	<h2><a href="/article">Title</a></h2>
					  	<p><small>Author - 29/04/2013</small></p>
					  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, nunc hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod</p>
					  	<a class="btn btn-small" href="/article">read more</a>
					  	<hr/>
			    	</div>
			  	</li>
			  	<li>
				  	<div>
					  	<h2><a href="/article">Title</a></h2>
					  	<p><small>Author - 29/04/2013</small></p>
					  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, nunc hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod</p>
					  	<a class="btn btn-small" href="/article">read more</a>
					  	<hr/>
			    	</div>
			  	</li>
			  	<li>
				  	<div>
					  	<h2><a href="/article">Title</a></h2>
					  	<p><small>Author - 29/04/2013</small></p>
					  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, nunc hendrerit a vulputate nec, sodales nec nunc. Aenean euismod, diam et venenatis blandit, consectetur adipiscing elit. Nulla eros felis, hendrerit a vulputate nec, sodales nec nunc. Aenean euismod</p>
					  	<a class="btn btn-small" href="/article">read more</a>
					  	<hr/>
			    	</div>
			  	</li>
		  	</ul>
		  		 <ul class ="pager">
  <li class ="previous"><a href="#">Précédents</a></li>
  <li class ="next"><a href="#">Suivants</a></li>
</ul>
	  	</div>
	  	 <div class="col-sm-4">
	  	 	<div class="well">
	  	 		<h3>Latest news</h3>
	  	 		<ul class="list-unstyled">
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 			<li>10/10/2013 - <a href="/article">Titre actualité</a></li>
	  	 		</ul>
	  	 	</div>
	  	 	<div class="well">
	  	 		<p>Sidebar</p>
	  	 	</div>
	  	 </div>		
	 </div>
	 {% endblock %}