{% block content %}
<div class="row-fluid">
	<div class="span12">
			<p><img src="http://placehold.it/1200x300"></p>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
			<h2>Vous souhaitez</h2>
		<p>Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.</p>
		</div>
	<div class="span4">
		<h2>Contactez-nous</h2>
		<p>Essere associés</p>
		<p>42, avenue Montaigne . 75008 Paris</p>
		<p>Tél. : +33 (0)1 72 74 11 32</p>
		<p>FAX : +33 (0)1 72 74 10 75</p>
		<p>www.essere-associes.com</p>
		<p><a href="#myModal2" role="button" data-toggle="modal" class="btn btn-primary">contactez nous</a></p>
	</div>
	<div class="span4">
		<h2>Club Alumni</h2>
		<p>Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.</p>
		<p><a href="#myModal" role="button" data-toggle="modal" class="btn btn-primary">Cliquez ici</a></p>
		</div>	
</div>
<hr/>

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Club alumni</h3>
  </div>
  <div class="modal-body">
    <fieldset>
			<legend>Nous écrire</legend>
			<label for="nom">Nom</label>
			<input type="text" name="nom" id="nom" />
			<label for="prenom">Prénom</label>
			<input type="text" name="prenom" id="prenom" />
			<label for="email">E-mail</label>
			<input type="email" name="email" id="email" />
			<label for="email">Téléphone</label>
			<input type="text" name="telephone" id="phone" />
			<label for="email">Objet</label>
			<input type="text" name="subject" id="subject" />
			<label for="email">Message</label>
			<textarea rows="4" cols="50">Votre message </textarea>
			<br/>
			<a class="btn btn-submit" href="#">envoyer</a>
	</fieldset>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<!-- Modal -->
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contactez nous</h3>
  </div>
  <div class="modal-body">
    <fieldset>
			<legend>Nous écrire</legend>
			<label for="nom">Nom</label>
			<input type="text" name="nom" id="nom" />
			<label for="prenom">Prénom</label>
			<input type="text" name="prenom" id="prenom" />
			<label for="email">E-mail</label>
			<input type="email" name="email" id="email" />
			<label for="email">Téléphone</label>
			<input type="text" name="telephone" id="phone" />
			<label for="email">Objet</label>
			<input type="text" name="subject" id="subject" />
			<label for="email">Message</label>
			<textarea rows="4" cols="50">Votre message </textarea>
			<br/>
			<a class="btn btn-submit" href="#">envoyer</a>
	</fieldset>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


{% endblock %}

