{% block content %}

<div class="row"><div class="col-sm-12">
<div class="navbar">
<ul class="nav navbar-nav list-inline">
<li {% if mixture.url == "guideline-elements" %}class="active"{% endif %}><a href="/guideline-elements">Elements</a></li>
<li {% if mixture.url == "guideline-blocs" %}class="active"{% endif %}><a href="/guideline-blocs">Blocs</a></li>
<li {% if mixture.url == "guideline-sections" %}class="active"{% endif %}><a href="/guideline-sections">Sections</a></li>
<li {% if mixture.url == "guideline-templates" %}class="active"{% endif %}><a href="/guideline-templates">Templates</a></li>
</ul>
</div></div></div>

<div class="row">
	<div class="col-sm-6 ">
		<h2>Prototype</h2>
		<a href="/prototype" class="btn btn-large btn-primary">Naviguez dans le prototype</a>
</div>

<div class="col-sm-6 lead">
<h1>Templates</h1>
<br/>
<div class="row">
<ul class="col-sm-6 list-list-unstyled">
<li {% if mixture.url == "title" %}class="active"{% endif %}><a href="/track">Track</a></li>
<li {% if mixture.url == "album" %}class="active"{% endif %}><a href="/album">Album</a></li>
<li {% if mixture.url == "group" %}class="active"{% endif %}><a href="/group">Group</a></li>
<li {% if mixture.url == "artist" %}class="active"{% endif %}><a href="/artist">Artist</a></li>
</ul>
</div>
</div>
</div>
<br/><br/>
{% endblock %}