{% block content %}

{% include "guideline-nav" %}

<h1>Elements</h1>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-identity"><h2>Identity</h2></a>
    </div>
    <div id="panel-identity" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--logo-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Logo</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
       		<a href="/" class="brand"></a>
	   		</div>
        </div>
        <hr/>
        <!--favicon-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Favicon</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><img src="/assets/img/favicon.png" alt="favicon" /></p>
	   		</div>
        </div>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-typography"><h2>Typography</h2></a>
    </div>
    <div id="panel-typography" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--Titles-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Titles</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<h1>Title h1</h1>
				<h2>Title h2</h2>
				<h3>Title h3</h3>
				<h4>Title h4</h4>
				<h5>Title h5</h5>
				<h6>Title h6</h6>
	   		</div>
        </div>
        <hr/>
        <!--paragraphes-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Paragraph</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p>Donec sed odio dui. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
				<p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
	   		</div>
        </div>
        <hr/>
		<!--lead-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Lead</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p class="lead">Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.</p>
	   		</div>
        </div>
        <hr/>
        <!--strong-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Strong (bold)</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><strong>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.</strong></p>
	   		</div>
        </div>
        <hr/>
        <!--em-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>em (italic)</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><em>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.</em></p>
	   		</div>
        </div>
        <hr/>
        <!--small-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>small</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><small>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.</small></p>
	   		</div>
        </div>
        <hr/>
        <!--text-left-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>text-left</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p class="text-left">Left aligned text.</p>
			</div>
        </div>
        <hr/>
        <!--text-center-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>text-center</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p class="text-center">Center aligned text.</p>
			</div>
        </div>
        <hr/>
        <!--text-right-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>text-right</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p class="text-right">Right aligned text.</p>
			</div>
        </div>
        <hr/>
        <!--blockquote-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>blockquote</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				</blockquote>
			</div>
        </div>
        <hr/>
        <!--Titles link-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Titles with link</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<h1><a href="">Title h1</a></h1>
				<h2><a href="">Title h2</a></h2>
				<h3><a href="">Title h3</a></h3>
				<h4><a href="">Title h4</a></h4>
				<h5><a href="">Title h5</a></h5>
				<h6><a href="">Title h6</a></h6>
	   		</div>
        </div>
        <hr/>

        <!--text-link-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>text-link</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus <a href="">Text with link</a> varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.</p>
			</div>
        </div>
        <hr/>
        <!--hr-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>hr</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<hr/>
			</div>
        </div>
		<hr/>
        <!--address-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>address</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
			<address>
			<strong>Twitter, Inc.</strong><br>
			795 Folsom Ave, Suite 600<br>
			San Francisco, CA 94107<br>
			<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
			</div>
        </div>
        <hr/>
        <!--address-human-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>address human</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
			<address>
			<strong>Full Name</strong><br>
			<a href="mailto:#">first.last@example.com</a>
			</address>
			</div>
        </div>

      </div>
    </div>
  </div>








  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-color"><h2>Colors</h2></a>
    </div>
    <div id="panel-color" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--Primary Color-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Primary color</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p class="color-primary">Maecenas faucibus mollis interdum.</p>
	   		</div>
        </div>
        <!--Secondary Color-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Secondary color</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p class="color-secondary">Maecenas faucibus mollis interdum.</p>
	   		</div>
        </div>
        <!--Thirdary Color-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Thirdary color</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p class="color-third">Maecenas faucibus mollis interdum.</p>
	   		</div>
        </div>
        <!--Greys-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Grey1</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
				<li class="color-grey1">Maecenas faucibus mollis interdum.</li>
	   		</div>
        </div>


        <!--Black Color-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Black / white</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
				<li class="color-000" style="padding: 5px 10px">color-000 : Maecenas faucibus mollis interdum.</li>
				<li class="color-333" style="padding: 5px 10px">color-333 : Maecenas faucibus mollis interdum.</li>
				<li class="color-666" style="padding: 5px 10px">color-666 : Maecenas faucibus mollis interdum.</li>
				<li class="color-999" style="padding: 5px 10px">color-999 : Maecenas faucibus mollis interdum.</li>
				<li class="color-CCC" style="padding: 5px 10px">color-CCC : Maecenas faucibus mollis interdum.</li>
				<li class="color-FFF" style="background: #999; padding: 5px 10px">color-FFF : Maecenas faucibus mollis interdum.</li>
	   		</div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-backgrounds"><h2>Backgrounds</h2></a>
    </div>
    <div id="panel-backgrounds" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--Primary Background Color-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Primary Background color</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-list-unstyled list-inline">
				<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000;"></li>
				<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.8"></li>
				<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.6"></li>
				<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.4"></li>
				<li class=" color-back-primary" style="width: 100px; height: 100px; background: #FF0000; opacity: 0.2"></li>
	   		</div>
        </div>
        <hr/>
        <!--Secondary Background Color-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Secondary Background color</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-list-unstyled list-inline">
				<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00;"></li>
				<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.8"></li>
				<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.6"></li>
				<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.4"></li>
				<li class=" color-back-secondary" style="width: 100px; height: 100px; background: #00FF00; opacity: 0.2"></li>
	   		</div>
        </div>
        <hr/>
        <!--Thirdary Background Color-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Thirdary Background color</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-list-unstyled list-inline">
				<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF;"></li>
				<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.8"></li>
				<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.6"></li>
				<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.4"></li>
				<li class=" color-back-thirdary" style="width: 100px; height: 100px; background: #0000FF; opacity: 0.2"></li>
	   		</div>
        </div>
        </hr>
       <!--Texture 1-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Texture</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">

	   		</div>
        </div>

      </div>
    </div>
  </div>


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-lists"><h2>Lists</h2></a>
    </div>
    <div id="panel-lists" class="accordion-body collapse">
      <div class="accordion-inner">
         <!--List 1-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>List</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="">
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>
					<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					</ul>
					</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				</ul>
	   		</div>
        </div>
       <hr/>
	   <!--List 2-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>list-list-unstyled List</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-list-unstyled">
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>
					<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					</ul>
					</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				</ul>
	   		</div>
        </div>
       <hr/>
	   <!--List 3-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>list-inline List</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-list-unstyled list-inline">
					<li>Lorem ipsum</li>
					<li>dolor sit amet</li>
					<li>consectetur</li>
					<li>adipiscing</li>
				</ul>
	   		</div>
        </div>
        <hr/>
	   <!--List 4-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Ordered List</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ol class="">
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>
					<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					</ul>
					</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				</ol>
	   		</div>
        </div>
		<hr/>
	   <!--List 5-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Definition List</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<dl>
					<dt>Definition title</dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
					<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
					<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
					<dt>Definition title</dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
				</dl>
	   		</div>
        </div>


      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-form"><h2>Form elements</h2></a>
    </div>
    <div id="panel-form" class="accordion-body collapse">
      <div class="accordion-inner">
      <!--Lable-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Label</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<label>label</label>
			</div>
        </div>
       <hr/>
       <!--input-text-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>input text</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<input type="text" placeholder="text">
			</div>
        </div>
       <hr/>
       <!--input-textarea-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>input textarea</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				 <textarea rows="3" placeholder="textarea"></textarea>
			</div>
        </div>
       <hr/>
       <!--input-search-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>input search</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<input type="text" class="input-medium search-query" placeholder="search">
			</div>
        </div>
       <hr/>
       <!--button submit-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>button submit</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<button type="submit" class="btn btn-default">submit</button>
			</div>
        </div>
       <hr/>
       <!--checkbox-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>checkbox</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<label class="checkbox"><input type="checkbox" value="">Checkbox</label>
			</div>
        </div>
       <hr/>
       <!--radio-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>radio</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<label class="radio">
		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>radio 1</label>
		<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">radio2</label>

			</div>
        </div>
       <hr/>
       <!--select-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>select</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<select>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				</select>
			</div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-buttons"><h2>Buttons</h2></a>
    </div>
    <div id="panel-buttons" class="accordion-body collapse">
      <div class="accordion-inner">
         <!--Primary Btn-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Button</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><a href="" class="btn btn-default">btn</a></p>
	   		</div>
        </div>
       <hr/>
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Button-lg</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><a href="" class="btn btn-default btn-lg">btn-lg</a></p>
	   		</div>
        </div>
       <hr/>
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Button-sm</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><a href="" class="btn btn-default btn-sm">btn-sm</a></p>
	   		</div>
        </div>
       <hr/>
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Button-block</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><a href="" class="btn btn-default btn-block">btn-block</a></p>
	   		</div>
        </div>
       <hr/>
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Button-primary</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><a href="" class="btn btn-primary">btn-primary</a></p>
	   		</div>
        </div>
        <hr/>
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Button-secondary</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><a href="" class="btn btn-secondary">btn-secondary</a></p>
	   		</div>
        </div>
        <hr/>
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Button-thirdary</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<p><a href="" class="btn btn-third">btn-thirdary</a></p>
	   		</div>
        </div>

      </div>
    </div>
  </div>

   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-tables"><h2>Tables</h2></a>
    </div>
    <div id="panel-tables" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--Table Btn-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Table</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<table class="table table-striped table-hover">
					<thead>
					<tr><th>Title</th><th>Title</th><th>Title</th></tr>
					</thead>
					<tbody>
					<tr><td>Content</td><td>Content</td><td>Content</td></tr>
					<tr><td>Content</td><td>Content</td><td>Content</td></tr>
					<tr><td>Content</td><td>Content</td><td>Content</td></tr>
					<tr><td>Content</td><td>Content</td><td>Content</td></tr>
					</tbody>
					<tfooter>
					<tr><td>Title</td><td>Title</td><td>Title</td></tr>
					</tfooter>
				</table>
	   		</div>
        </div>
       <hr/>


      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-images"><h2>Images</h2></a>
    </div>
    <div id="panel-images" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--images rounded-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>image rounded</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<img src="http://placehold.it/150x150" class="img-rounded">
	   		</div>
        </div>
       <hr/>
        <!--images rounded-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>image circle</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<img src="http://placehold.it/150x150" class="img-circle">
	   		</div>
        </div>
       <hr/>
        <!--images rounded-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>image polaroid</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<img src="http://placehold.it/150x150" class="img-polaroid">
	   		</div>
        </div>
       <hr/>


      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-medias"><h2>Medias</h2></a>
    </div>
    <div id="panel-medias" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--video-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>video</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">

	   		</div>
        </div>
        <hr/>
        <!--audio-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>audio</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">

	   		</div>
        </div>
        <hr/>
        <!--maps-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>maps</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">

	   		</div>
        </div>


      </div>
    </div>
  </div>


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-visibility"><h2>Visibility</h2></a>
    </div>
    <div id="panel-visibility" class="accordion-body collapse">
      <div class="accordion-inner">
      	<!--visible-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Visible</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul class="list-list-unstyled list-inline row text-center">
					<li class=" col-sm-4"><span class="visible-phone">✔ Phone</span></li>
					<li class=" col-sm-4"><span class="visible-tablet">✔ Tablet</span></li>
					<li class=" col-sm-4"><span class="visible-desktop">✔ Desktop</span></li>
				</ul>
	   		</div>
        </div>
		<hr/>
		<!--hidden-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Hidden</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">
				<ul  class="list-list-unstyled list-inline row text-center">
					<li class=" col-sm-4"><span class="hidden-phone">✔ Phone</span></li>
					<li class=" col-sm-4"><span class="hidden-tablet">✔ Tablet</span></li>
					<li class=" col-sm-4"><span class="hidden-desktop">✔ Desktop</span></li>
				</ul>
	   		</div>
        </div>

      </div>
    </div>
  </div>



  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-animations"><h2>Animations</h2></a>
    </div>
    <div id="panel-animations" class="accordion-body collapse">
      <div class="accordion-inner">
        <!--fade-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Fade</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">

	   		</div>
        </div>
		<hr/>
        <!--mouvement-->
        <div class="row">
        	<div class="col-sm-4 ">
				<h3>Mouvement</h3>
				<p>Text</p>
			</div>
			<div class="col-sm-8">

	   		</div>
        </div>

      </div>
    </div>
  </div>

</div>



{% endblock %}