{% block content %}

{% include "guideline-nav" %}


<div class="row">
	<div class="col-sm-6 ">
		<h2>Prototype</h2>
		<a href="/prototype" class="btn btn-large btn-primary">Naviguez dans le prototype</a>
</div>

<div class="col-sm-6 lead">
<h1>Templates</h1>
<br/>
<div class="row">
<ul class="col-sm-6 list-list-unstyled">
<li {% if mixture.url == "title" %}class="active"{% endif %}><a href="/">Index</a></li>
</ul>
</div>
</div>
</div>
<br/><br/>
{% endblock %}