{% block content %}	
<h1>Site internet Essere</h1>
		<br/>
		<p>Projet développé sur Bootstrap (v2.3.1).</p>
		<br/>
		<p>Todays date: {{ 'now' | date: "%d %B %Y" }}. Model created: {{ modelDate | date: "%d %B %Y" }}</p>
		<br/>
		<p><a class="btn btn-primary btn-large" href="/guideline">Guideline</a> - <a class="btn btn-primary btn-large" href="/prototype">Prototype</a></p>
{% endblock %}