{% block content %}
<br/><br/>
<div class="row-fluid">
	<div class="span7 offset1">
		<h1>Slogan Curabitur blandit tempus porttitor.</h1>
		<ul class="lead">
			<li style="padding: 10px;"><a href="/dossier">Dossier blandit tempus porttitor.</a></li>
			<li style="padding: 10px;"><a href="/dossier">Dossier Curabitur  tempus porttitor.</a></li>
			<li style="padding: 10px;"><a href="/dossier">Dossier porttitor blandit Curabitur.</a></li>
			<li style="padding: 10px;"><a href="/dossier">Dossier blandit Curabitur tempus .</a></li>
			<li style="padding: 10px;"><a href="/dossier">Dossier blandit tempus porttitor.</a></li>
			<li style="padding: 10px;"><a href="/dossier">Dossier Curabitur  tempus porttitor.</a></li>
			<li style="padding: 10px;"><a href="/dossier">Dossier porttitor blandit Curabitur.</a></li>
			<li style="padding: 10px;"><a href="/dossier">Dossier blandit Curabitur tempus .</a></li>
		</ul>
	</div>
	<div class="span3 well">
	<p>Pour accéder aux documents de référence concernant la gouvernance :</p>
		<p><a href="#myModal" role="button" data-toggle="modal" class="btn btn-primary">Cliquez ici</a></p>
	</div>
	
</div>

<br/><br/><br/><br/>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Téléchargez les documents relatifs à la gouvernance :</h3>
  </div>
  
  <div class="modal-body">
  <table class="table table-hover table-striped">
  <thead><tr><th>Date</th><th>Emetteur</th><th>Titre Publication</th></tr></thead>
  <tbody>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  <tr><td>01 jan 2013</td><td>MEDEF</td><td><a href="">Rapport sur ...</a></td></tr>
  </tbody>
  </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>




{% endblock %}