<header class="navbar navbar-static-top navbar-viewer bs-docs-nav headroom" role="banner">	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a itemprop="url" href="../" class="navbar-brand"></a>
			</div>
		</div>
	</div>
</header>
