<section class="prefooter">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3><em>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</em></h3>
			</div>
		</div>
	</div>
</section>