<section class="prefooter">
	<div class="container">
		<div class="row">
			<div class="col-sm-1 col-sm-offset-6">
				<br/><img src="http://placehold.it/150x150" alt="">
			</div>
			<div class="col-sm-5">
				<h3>@Twitter</h3>
				<p>"Sed posuere consectetur est at lobortisSed posuere consectetur est at lobortisSed posuere consectetur est at lobortis."</p>
				<p>"Sed posuere consectetur est at lobortisSed posuere consectetur est at lobortisSed posuere consectetur est at lobortis."</p>
				<p>"Sed posuere consectetur est at lobortisSed posuere consectetur est at lobortisSed posuere consectetur est at lobortis."</p>
			</div>
		</div>
	</div>
</section>