.perspectiveUpRetourn {
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  -o-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: perspectiveUpRetourn;
  -moz-animation-name: perspectiveUpRetourn;
  -ms-animation-name: perspectiveUpRetourn;
  -o-animation-name: perspectiveUpRetourn;
  animation-name: perspectiveUpRetourn;
}
@-moz-keyframes perspectiveUpRetourn {
  0% {
    -moz-transform-origin: 0 0;
    -moz-transform: perspective(800px) rotateX(180deg);
  }

  100% {
    -moz-transform-origin: 0 0;
    -moz-transform: perspective(800px) rotateX(0deg);
  }
}
@-webkit-keyframes perspectiveUpRetourn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateX(180deg);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateX(0deg);
  }
}
@-o-keyframes perspectiveUpRetourn {
  0% {
    -o-transform-origin: 0 0;
    -o-transform: perspective(800px) rotateX(180deg);
  }

  100% {
    -o-transform-origin: 0 0;
    -o-transform: perspective(800px) rotateX(0deg);
  }
}
@-ms-keyframes perspectiveUpRetourn {
  0% {
    -ms-transform-origin: 0 0;
    -ms-transform: perspective(800px) rotateX(180deg);
  }

  100% {
    -ms-transform-origin: 0 0;
    -ms-transform: perspective(800px) rotateX(0deg);
  }
}
@keyframes perspectiveUpRetourn {
  0% {
    transform-origin: 0 0;
    transform: perspective(800px) rotateX(180deg);
  }

  100% {
    transform-origin: 0 0;
    transform: perspective(800px) rotateX(0deg);
  }
}