{% block content %}

{% include "guideline/navigation" %}

<h1>Blocs</h1>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-navigation"><h2>Navigation</h2></a>
		</div>
		<div id="panel-navigation" class="accordion-body collapse">
			<div class="accordion-inner">
				{% include "guideline/blocs/navigation" %}
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-blocs"><h2>Blocs</h2></a>
		</div>
		<div id="panel-blocs" class="accordion-body collapse">
			<div class="accordion-inner">
				{% include "guideline/blocs/blocs" %}
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-call2action"><h2>Call 2 action</h2></a>
		</div>
		<div id="panel-call2action" class="accordion-body collapse">
			<div class="accordion-inner">
				{% include "guideline/blocs/call2action" %}
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-forms"><h2>Forms</h2></a>
		</div>
		<div id="panel-forms" class="accordion-body collapse">
			<div class="accordion-inner">
				{% include "guideline/blocs/forms" %}
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-breadcrumbs"><h2>Breadcrumbs</h2></a>
		</div>
		<div id="panel-breadcrumbs" class="accordion-body collapse">
			<div class="accordion-inner">
				{% include "guideline/blocs/breadcrumbs" %}
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-pagination"><h2>Pagination</h2></a>
		</div>
		<div id="panel-pagination" class="accordion-body collapse">
			<div class="accordion-inner">
				{% include "guideline/blocs/pagination" %}
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#panel-alerts"><h2>Alerts</h2></a>
		</div>
		<div id="panel-alerts" class="accordion-body collapse">
			<div class="accordion-inner">
				{% include "guideline/blocs/alerts" %}
			</div>
		</div>
	</div>  
</div>
</div>
</div>
{% endblock %}