{% block content %}
{% include "guideline/navigation" %}
<ul class="nav nav-tabs nav-stacked bsg-left">
	<li class="active"><a href="#header" data-toggle="tab">Header</a></li>
	<li><a href="#page-header" data-toggle="tab">Page-header</a></li>
	<li><a href="#article" data-toggle="tab">Article</a></li>
	<li><a href="#comments" data-toggle="tab">Comments</a></li>
	<li><a href="#aside" data-toggle="tab">Aside</a></li>
	<li><a href="#footer" data-toggle="tab">Footer</a></li>
</ul>
<div class="tab-content bsg-right">
	<div class="tab-pane active" id="header">
		{% include "guideline/sections/header" %}
	</div>
	<div class="tab-pane" id="page-header">
		{% include "guideline/sections/page-header" %}
	</div>
	<div class="tab-pane" id="article">
		{% include "guideline/sections/article" %}
	</div>
	<div class="tab-pane" id="comments">
		{% include "guideline/sections/comments" %}
	</div>
	<div class="tab-pane" id="aside">
		{% include "guideline/sections/aside" %}
	</div>
	<div class="tab-pane" id="footer">
		{% include "layout/footer" %}
	</div>
</div>
{% endblock %}