<section>
	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Title</a></li>
			<li><a href="#tab2" role="tab" data-toggle="tab">Title</a></li>
			<li><a href="#tab3" role="tab" data-toggle="tab">Title</a></li>
			<li><a href="#tab4" role="tab" data-toggle="tab">Title</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.</p>
			</div>
			<div class="tab-pane" id="tab2">
				<p>nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.</p>

			</div>
			<div class="tab-pane" id="tab3">
				<p>Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.</p>
				
			</div>
			<div class="tab-pane" id="tab4">
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.</p>
			</div>
		</div>
	</div>
</section>