<section class="page-header cover cover-full" style="background: url('http://http://placehold.it/1200x600') 50% 50% no-repeat; ">
	<div class="container">
		<h1>magnis dis parturient</h1>
	</div>
</section>