<section class="page-header background-primary">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1>Title</h1>
				<p class="lead">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui.</p>
			</div>
			<div class="col-sm-5">
				<div class="video-container">
					<iframe width="640" height="360" src="//www.youtube.com/embed/ER-la4wunyo" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>