<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="ink.css">
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="row header">
						<tr>
							<td class="center" align="center">
								<center>
									<table class="container">
										<tr>
											<td class="wrapper last">
												<table class="twelve columns">
													<tr>
														<td class="twelve sub-columns">
															<a href="http://www.sondz.com">
																<img src="img/logo.png" class="center">
															</a>
														</td>
														<td class="expander"></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
					</table>
					<table class="container">
						<tr>
							<td>
								<table class="row">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td>
														<h1>Title</h1>
														<p>text</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table class="row">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td>
														<table class="button">
															<tbody><tr>
																<td>
																	<a href="">[button]</a>
																</td>
															</tr>
														</tbody>
													</table>

												</td>
												<td class="expander"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<table class="row">
								<tr>
									<td class="wrapper last">
										<table class="twelve columns">
											<tr>
												<td>
													<p>The Sondz team</p>
												</td>
												<td class="expander"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="row footer">
					<tr>
						<td class="wrapper last">
							<table class="twelve columns">
								<tr>
									<td class="">
										<h2 class="center">Follow Us</h2>
										<div class="block">
											<div class="social">
												<a href="https://www.facebook.com/SondzTeam"><img src="img/icon-facebook.png" alt="" /></a>
												<a href="https://twitter.com/SondzTeam"><img src="img/icon-twitter.png" alt="" /></a>
												<a href="http://www.youtube.com/SondzTeam"><img src="img/icon-youtube.png" alt="" /></a>
												<a href="http://SondzTeam.tumblr.com/"><img src="img/icon-tumblr.png" alt="" /></a>
												<a href="https://soundcloud.com/SondzTeam"><img src="img/icon-soundcloud.png" alt="" /></a>
												<a href="http://instagram.com/SondzTeam"><img src="img/icon-instagram.png" alt="" /></a>
												<a href="http://www.pinterest.com/SondzTeam"><img src="img/icon-pinterest.png" alt="" /></a>
											</div>
										</div>
										<hr/>
										<div class="block">
											<hr/>
											<p class="center">This e-mail is for information purposes only and no rights can be derived from it.<br/>For further assistance, please contact us <a href="">here</a></p>
											<hr/>
											<p class="center">We respect your right to privacy - <a href="">view our policy</a></p>
											<p class="center">© Sondz 2015</p>
										</div>
									</td>

									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</center>
		</td>
	</tr>
</table>
</body>
</html>