{% block content %}
{% include "layout/navigation" %}
<ul style="margin-top: 80px;">
	<li><a href="base.html">{{ global.email }}</a></li>
	<li><a href="password.html">{{ global.password }}</a></li>
	<li><a href="welcome.html">{{ global.welcome }}</a></li>
</ul>
{% endblock %}